@charset "utf-8";
/* CSS Document */

body{
    padding:0;
    margin:0;
    font-size: 100%;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-color: olive;
}

/* Cabecera */
header {
    color: white;
    background-color: black;
    width:100%;
}

header img {
    width: 100px;
    height: 100px;
}

/* Fin cabecera */

#menu {
    text-decoration: none;
    color:white;

    width: 100%;
}

#menu a {
    padding-right: 10px;
}

a:link {
    text-decoration: none;
    color:white;
}
/* Barra horizontal */

nav a{
    text-decoration:none;
    color:white;
    font-size:14px;
    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    }
/* Fin barra horizontal*/